<!doctype = html> 
<html>
  <form action="/<%= @file_name %>" method="post">
    <label for="content">Edit content of <%= @file_name %>:</label>
    <textarea name="content" id="content" rows="20" cols="100"><%= @file_content %></textarea>
    <div> 
      <button type="submit">Save Changes</button>
    </div>
  </form>
<html>
