<!doctype html>
<ul> 
  <% @files.each do |file| %> 
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <br>
      <a href="/<%= file %>/edit">Edit</a>
    </li>
  <% end %>
</ul>
<p><a href="/new">New Document</a></p>

