<!doctype html>
<form action='/users/signin' method='post'>
  <div>
    <label for='username'>Username:
      <input name='username' id='username' value="<%= params[:username] %>"/>
    </label>
  </div>
    <label for='password'>Password:
      <input name='password' id='password' type='password'/>
    </label>
  </div>
  <div>
    <button type='submit'>Sign In</button>
  </div>
</form>
